@import "tailwindcss";



:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

body {
  font-family: var(--font-lato);
}

.font-heading {
  font-family: var(--font-poppins);
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll-left 35s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}
